{% extends '../layout_dashboard.html' %}

{% block content %}
	<h1 class="page-header">Teachers</h1>
	<div class="row">
		{% if req.session.admin %}
			<a href="/dashboard/teachers/add" class="btn btn-primary btn-lg pull-right"><i class="glyphicon glyphicon-plus"></i> Add teacher</a>
		{% endif %}
	</div>
	<div class="table-responsive">
        <table class="table table-striped">
          	<thead>
                <tr>
                  <th>#</th>
                  <th>Lastname</th>
                  <th>Firstname</th>
                  <th>Email</th>
                  <th><i class="glyphicon glyphicon-pencil"></i></th>
                  <th><i class="glyphicon glyphicon-trash"></i></th>
                </tr>
          	</thead>

          	<tbody>
	          	{% for teacher in teachers %}
	          		<tr>
		          		<td>{{ teacher.identifiant }}</td>
	            		<td>{{ teacher.firstname }}</td>
	            		<td>{{ teacher.lastname }}</td>
	            		<td>{{ teacher.mail }}</td>
	            		<td><button class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> Edit</button></td>
	            		<td><button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Remove</button></td>
            		</tr>
	          	{% endfor %}
          	</tbody>
        </table>
  	</div>
{% endblock %}
