<!DOCTYPE html>
<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">

		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="/javascripts/bootstrap.min.js"></script>

		{% block head %}{% endblock %}
		{% block script %}{% endblock %}

		<title>Mathusalem - {% block title %}{% endblock %}</title>
	</head>
	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top">
	      	<div class="container-fluid">
	        	<div class="navbar-header">
	          		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            			<span class="sr-only">Toggle navigation</span>
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	          		</button>
	          		<a class="navbar-brand" href="/dashboard/index">Training</a>
	        	</div>
	        	<div id="navbar" class="navbar-collapse collapse">
	          		<ul class="nav navbar-nav navbar-right">
	            		<li><a href="#">Dashboard</a></li>
	            		<li><a href="#">Settings</a></li>
	            		<li><a href="#">Profile</a></li>
	            		<li><a href="#">Help</a></li>
	            		<li><a href="/logout">Logout</a></li>
	          		</ul>
	        	</div>
	      	</div>
	    </nav>

	    <div class="container-fluid">
      		<div class="row">
        		<div class="col-sm-3 col-md-2 sidebar">
          			<ul class="nav nav-sidebar">
			            <li {% if (active == 0) %} class="active" {% endif %}><a href="/dashboard/index">Planning</a></li>
			            <li {% if (active == 1) %} class="active" {% endif %}><a href="/dashboard/students">Students</a></li>
			            <li {% if (active == 2) %} class="active" {% endif %}><a href="/dashboard/teachers">Teachers</a></li>
			            <li {% if (active == 3) %} class="active" {% endif %}><a href="/dashboard/classrooms">Classrooms</a></li>
			            <li {% if (active == 4) %} class="active" {% endif %}><a href="/dashboard/courses">Courses</a></li>
          			</ul>
        		</div>

        		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          		{% block content %}
          		{% endblock %}
        		</div>
      		</div>
		</div>
	</body>
</html>
